# Visual Studio / VS Code
.vs/
.vscode/

# Build output
bin/
obj/

# User files
*.user
*.suo
*.rsuser

# Logs / caches / temp
*.log
*.cache
*.tmp

# Publish / wwwroot output (if you publish into repo)
wwwroot/

# OS files
.DS_Store
Thumbs.db

# Sensitive configuration
appsettings.json
appsettings.Development.json
